<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset = "ISO-8859-1" />
    <title>Spring Boot Application</title>
</head>

<body>

<h1>Java Metric Generator</h1><br>
<label>Choose a local Java file (.java) : </label><br>
<input id="fileupload" type="file" name="fileupload" onclick="enabledButton()"></input><br><br>
<label>Then, upload the chosen file :</label><br>
<button id="upload-button" disabled onclick="uploadFile()"> Upload File</button><br><br>

<!-- Ajax JavaScript File Upload to Spring Boot Logic -->
<script>
  function enabledButton() {
    var button = document.getElementById("upload-button");
    button.disabled = false;
  }

  async function uploadFile() {
    let formData = new FormData();
    formData.append("file", fileupload.files[0]);

    let response = await fetch('/metric/upload', {
      method: "POST",
      body: formData
    });

    if (response.status == 200) {
      document.location.href = '/fileinfo'
    } else {
      //const text = await response.text();
     // alert("File not uploaded : " + response.status + "." + text);

      const json = await response.json();
      alert(response.status + " " + json.error + " : " + json.message);
    }
  }
 </script>
</body>
</html>